@charset "UTF-8";

@media (min-width: 834px) {}

@media (min-width: 1200px) {

    /***** header *****/
    header {
        margin: 1vw auto;
        background-color: #fff;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50px;
        padding: .8vw 3vw;
        position: fixed;
        transition: transform 0.4s ease-in-out;
        z-index: 99;
    }

    header.active {
        transform: translateX(-50%) translateY(-200%);
    }

    header .round-logo {
        display: none;
    }

    header .pc-logo {
        display: block;
        width: 136px;
        height: 42px;
    }

    header .header-flex {
        display: flex;
        flex: 1 1;
        justify-content: space-between;
    }

    header .header-list {
        flex-direction: row;
        padding-left: 6vw;
        align-items: center;
    }

    header .header-list li:first-child {
        margin: 0;
    }

    header .header-list li {
        margin-left: 1.3vw;
    }

    header .header {
        align-items: center;
    }

    header .header div {
        padding: 0 10px;
    }

    header .header ul li {
        margin-left: 6px;
        padding-left: 17px;
    }

    header .header a {
        margin: 1px 0 1px 24px;
        background-color: #000;
        color: #fff;

        width: 191px;
        height: 48px;

        text-align: center;
        line-height: 48px;
        border-radius: 5.2vw;
    }

    /* header .header ul li:first-child::after {
        content: "";
        width: 0px;
        height: 0px;
        border-right: 360px solid #666666;
        border-top: 180px solid transparent;
        border-bottom: 180px solid transparent;
    } */

    header .header ul li:last-child {
        display: none;
    }

    /***** main *****/
    .main {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 40%;
        top: auto;
        bottom: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .main-bg {
        width: 100%;
    }

    .main-bg .main-bg-wrap {
        width: 100%;
    }

    .main-bg .main-bg-wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-bg .swiper-slide {
        flex: 0 0 100% !important;
        /* 슬라이드가 개별로 100% 너비를 차지하도록 설정 */
    }

    .main .main-text {
        top: 35%;
    }

    .main-text h1 {
        font-size: 4.5vw;
        padding: 0 10% 3%;
    }

    .main-text p {
        font-size: 1.7vw;
        padding: 0 10% 3%;
        margin-bottom: 3%;
    }

    .main a {
        margin: 0 10%;
    }

    /* intro */
    .intro {
        margin-top: 10.5vw;
        background: url(./images/intro1.png) no-repeat left 8% / 20vw;
    }

    .intro img {
        width: 15vw;
    }

    .intro h3 {
        font-size: 3vw;
        margin-bottom: 1.3vw;
    }

    .intro p {
        font-size: 1.1rem;
        margin-bottom: 2.1vw;

    }

    .intro a {
        min-height: 3.4vw;
        padding: .8vw 4.2vw;
        font-size: 1.1rem;
    }

    .intro .intro-video {
        border-radius: 31.5vw;
        clip-path: circle(100% at 50% 50%);
        width: 89vw;
        height: 50vw;
        margin: 6.3vw auto 0;
    }

    .intro .intro-element {
        bottom: -6vw;
        right: 1vw;
    }

    /***** product *****/
    .product {
        padding-bottom: 13.6vw;
    }

    .product h1 {
        font-size: 5.6vw;
    }

    .product p {
        margin-top: 2.5vw;
        text-align: center;
        color: #222;
        font-size: 1.1vw;
    }

    .product>a {
        display: inline;
        min-height: 3.4vw;
        padding: .84vw 4.2vw;
        font-size: 1.1vw;
        line-height: 1.57;
    }

    .mySwiper-product .swiper-wrapper {
        display: flex;
    }

    .mySwiper-product .swiper-slide {
        width: 100%;
        flex-shrink: 0;
    }


    .product ul {
        margin-top: 6.3vw;
    }

    .product ul li {
        width: 20vw;
    }

    .product ul li a img {
        width: 50vw;
    }

    .product ul .drink1 .drink-img {
        border-radius: 70%;
        width: 20vw;
        height: 20vw;
        overflow: hidden;
    }

    .product ul .drink2 .drink-img {
        width: 20vw;
        height: 20vw;
        overflow: hidden;
    }

    .product ul .drink3 .drink-img {
        border-radius: 70%;
        width: 20vw;
        height: 20vw;
        overflow: hidden;
    }

    .product ul .drink4 .drink-img {
        clip-path: polygon(50% 0, 50% 0, 94% 25%, 94% 75%, 50% 100%, 50% 100%, 6% 75%, 6% 25%);
        width: 20vw;
        height: 20vw;
        overflow: hidden;
    }

    .product ul .drink5 .drink-img {
        border-radius: 70%;
        width: 20vw;
        height: 20vw;
        overflow: hidden;
    }

    /***** archive *****/
    .archive {
        padding-bottom: 20vw;
    }

    .archive .archive-header {
        display: flex;
        align-items: center;
        padding-bottom: 3.1545741325vw;
    }

    .archive .archive-header h3 {
        font-size: 3.2vw;
        padding-bottom: 3.2vw;
        display: flex;
        flex: 1 1;
    }

    .archive .archive-header .archive-btn {
        display: flex;
        gap: .5vw;
    }

    .archive .archive-header .archive-btn .btn-arrow-line {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.9442691903vw;
        height: 2.9442691903vw;
        border: 4px solid rgba(0, 0, 0, .1);
        border-radius: 100%;
        transition: all .25s ease-in-out;
    }

    .archive .archive-header .archive-btn .btn-arrow-line:hover {
        background-color: black;
    }

    .archive .archive-header .archive-btn .btn-arrow-line:hover #arrow {
        fill: #fff;
    }

    .archive .archive .archive .archive-header .archive-btn .archive .archive-inner .archive-inner-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    .archive .archive-inner .archive-inner-item {
        flex-shrink: 0;
        width: calc(100% / 3);
        height: 100%;
        position: relative;
        transition-property: transform;
        margin-right: 0 auto;
    }

    .archive .archive-inner .archive-inner-item img {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #000;
    }

    .archive .archive-inner .archive-inner-item .archive-info {
        padding: 2.1vw;
    }

    .archive .archive-inner .archive-inner-item .archive-info p {
        font-size: .9vw;
        padding-left: 0;
    }

    .archive .archive-inner .archive-inner-item .archive-info h4 {
        font-size: 1.1vw;
        margin: .95vw 0;
        padding-left: 0;
        height: auto;
    }

    .archive .archive-inner .archive-inner-item .archive-info p:last-child {
        color: #aaa;
        font-size: .85vw;
        padding-left: 0;
    }

    .archive .archive-inner .archive-inner-wrapper .info-des {
        display: inherit;
        height: 4vw;
        word-break: keep-all;
    }

    /***** value *****/
    .value {
        text-align: left;
    }

    /***** green *****/
    .value .value-green-box {
        position: relative;
        flex-direction: inherit;
        justify-content: space-between;
        width: 89.4vw;
        height: 50.5vw;
        padding-bottom: 0;
    }

    .value .value-green-box .green-des {
        flex: 1 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 0 8.0441640379vw;
    }

    .value .green-des::before {
        display: none;
    }

    .value .green-des h3 {
        font-size: 3.8vw;
        line-height: 1.33;
    }

    .value .green-des p {
        margin: 1.3vw 0 0 0;
        color: #222;
        font-size: 1.1vw;
    }

    .value .green-des .green-des-pc {
        display: inherit;
    }

    .value .green-des .green-des-btn {
        min-height: 2.9968454259vw;
        font-size: 1.1041009464vw;
        line-height: 1.57;
        padding: .6vw 3.2vw;
        margin-top: 2vw;
    }

    .value .value-green-box .green-img .green-img-box1 {
        display: flex;
        flex-direction: column;
        width: 20vw;
    }

    .value .green-img-box1 span img {
        margin-top: 1vw;
    }

    .value .value-green-box .green-img .green-img-box2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
        margin-left: 1vw;
    }

    /***** yellow *****/
    .value .value-yellow-box {
        position: relative;
        flex-direction: inherit;
        justify-content: space-between;
        width: 89.4vw;
        height: 50.5vw;
        padding-bottom: 0;
    }

    .value .value-yellow-box .yellow-des {
        flex: 1 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 0 8.0441640379vw;
    }

    .value .yellow-des::before {
        display: none;
    }

    .value .yellow-des h3 {
        font-size: 3.8vw;
        line-height: 1.33;
    }

    .value .yellow-des p {
        margin: 1.3vw 0 0 0;
        color: #222;
        font-size: 1.1vw;
    }

    .value .yellow-des .yellow-des-pc {
        display: inherit;
    }

    .value .yellow-des .yellow-des-btn {
        min-height: 2.9968454259vw;
        font-size: 1.1041009464vw;
        line-height: 1.57;
        padding: .6vw 3.2vw;
        margin-top: 2vw;
    }

    .value .value-yellow-box .yellow-img .yellow-img-box1 {
        display: flex;
        flex-direction: column;
        width: 20vw;
    }

    .value .yellow-img-box1 span img {
        margin-top: 1vw;
    }

    .value .value-yellow-box .yellow-img .yellow-img-box2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
        margin-left: 1vw;
    }

    /* orange */
    .value .value-orange-box {
        position: relative;
        flex-direction: inherit;
        justify-content: space-between;
        width: 89.4vw;
        height: 50.5vw;
        padding-bottom: 0;
    }

    .value .value-orange-box .orange-des {
        flex: 1 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 0 8.0441640379vw;
    }

    .value .orange-des::before {
        display: none;
    }

    .value .orange-des h3 {
        font-size: 3.8vw;
        line-height: 1.33;
    }

    .value .orange-des p {
        margin: 1.3vw 0 0 0;
        color: #222;
        font-size: 1.1vw;
    }

    .value .orange-des .orange-des-pc {
        display: inherit;
    }

    .value .orange-des .orange-des-btn {
        min-height: 2.9968454259vw;
        font-size: 1.1041009464vw;
        line-height: 1.57;
        padding: .6vw 3.2vw;
        margin-top: 2vw;
    }

    .value .value-orange-box .orange-img .orange-img-box1 {
        display: flex;
        flex-direction: column;
        width: 20vw;
    }

    .value .orange-img-box1 span img {
        margin-top: 1vw;
    }

    .value .value-orange-box .orange-img .orange-img-box2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
        margin-left: 1vw;
    }

    /***** class *****/
    .class {
        display: flex;
        padding: 10vw 2% 10vw 8%;
    }

    .class h2 {
        font-size: 4.592vw;
        margin-right: 5vw;
    }

    .class p {
        display: none;
    }

    .class ul li {
        height: 30.51vw;
        margin-right: 2vw;
    }

    .class ul li:last-child {
        margin: 0;
    }

    .class ul li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .class ul li p {
        display: inherit;
        font-size: 1.1vw;
        text-align: left;
        margin-top: 1vw;
    }

    /* space */
    .space {
        background: url(./images/space-bg.png) no-repeat center center / cover;
        text-align: left;
        padding: 0 10%;
        position: relative;
    }

    .space .space-time {
        padding: 0;
    }

    .space .space-des h2 {
        font-size: 4.592vw;
        padding: 5vw 0 3vw;
    }

    .space .address {
        font-size: 1.1vw;
        padding-bottom: 2.857vw;
    }

    .space .space-title {
        padding-bottom: 0.765vw;
    }

    .space .space-time p:nth-child(3) {
        padding-bottom: 2.551vw;
    }

    .space .space-time p:last-child {
        padding-bottom: 3.061vw;
    }

    .space .space-button {
        padding-bottom: 25.51vw;
    }

    .space a {
        display: inline;
        margin: 0;
        padding: 1vw 4vw;
    }

    .space .space-img {
        display: inherit;
        width: 43.265vw;
        height: 25.51vw;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .space .space-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /***** footer *****/
    footer {
        padding: 8.571vw 8.265vw 5.357vw;
    }

    footer .footer-wrapper img {
        width: 6.531vw;
    }

    footer .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }

    footer .footer-wrapper-flex {
        display: flex;
        justify-content: space-between;
        gap: 8.571vw;
    }

    footer .footer-box h5 {
        padding-bottom: 1.531vw;
    }

    footer .footer-box p {
        padding-bottom: 1.531vw;
    }

    footer .footer-box .footer-space {
        padding-bottom: 1.531vw;
    }

    footer .footer-icon {
        display: flex;
        flex-basis: content;
        gap: 3.061vw;
    }

    footer .footer-icon a {
        width: 1.276vw;
        height: 1.276vw;
    }

    footer .footer-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    footer .footer-copyright {
        padding-top: 5.357vw;
    }
}